{% extends 'homepage/base.html' %}

{% block content %}

{% load static %}

<section class="page-section interests">
    <br>
    <br>
    <br>
    <div class="container">
        <!-- Interest Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary py-3 d-inline-block">Interests</h2>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/cabin.png' %}" alt="Log Cabin" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/cake.png' %}" alt="Tasty Cake" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/circus.png' %}" alt="Circus Tent" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="Controller" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt="Locked Safe" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="Submarine" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}